/* variables */
$basic: 16px;
$color-main: #295c65;
$color-second: #908483;
$color-bg: #f1f2ed;
$color-bodybg: #f8eee2;
$gradient-hover: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
$gradient-active: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
$img-bg: url(../img/bg.jpg);